body {
    background-color: rgb(129, 145, 159);
    color: black;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    list-style-position: outside;
}

ul li a {
    color: white;
    list-style: none;
    list-style-position: outside;
    text-decoration: none;
    font-weight: 700;
}

ul li a:hover {
    color: blue;
}